* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



:root {
    --main-nav-color: #a68aec;
    --menu-section-color: #9400FF;
    --address-bar-color: #AED2FF;
    --footer-color: #E4F1FF;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1140px;
    padding: 2em 2.5em;
    width: 90%;
}

ul li {
    display: block;
}

.nav-container {
    width: 100%;
    height: 20vh;
    background-color: var(--main-nav-color);
    color: #fff;
    display: flex;
    justify-content: center;
}

.nav-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

#logo {
    font-size: 2.5em;
    color: #F11A7B;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0 10px 2px rgb(143, 138, 138);
    padding: 5px;
    
}

h1 {
    font-size: 36px;
    font-weight: bold
}

.links ul {
    display: flex;
    gap: 1.5em;
    font-size: 18px;
}

.links li a {
    color: inherit;
    text-decoration: none;
}

.links ul li:hover {
    color: #d8d1d1;
    
}
/* nav styles */

/* header styles */
#header-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-color: var(--main-nav-color);
    color: #fff;
}

#header-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding-bottom: 2em;
}



.content-first h2{
    font-size: 28px

}

.content-first p {
    font-size: 19px;
}

#hero1 {
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0 10px 2px rgb(143, 138, 138);
}

/* heder styles*/

/* menu-styles*/
#menu-container {
    width: 100%;
    background-color: #252525;
    display: flex;
    justify-content: center;
    color: #c9c3c3b7;
    padding: 3em 0;
}

#menu-container .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
}

.container .item {
    width: 300px;
    height: 300px;
    border: 1px solid rgba(8, 8, 8, 0.288);
    border-radius: 25px;
    box-shadow: 0 0 10px 1px rgba(8, 8, 8, 0.288);
}

#menu-container .container p {
    text-align: center;
}

h3 {
    font-size: 25px;
    text-align: center;
}

.item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    object-fit: cover;
}

.item span {
    color: var(--menu-section-color);
    font-size: 2em;
}

.item:hover {
    box-shadow: 0px 3px 9px -2px var(--menu-section-color);
}

.item p {
    text-align: center;
}
/* menu-styles*/

/* footer */

#footer {
    background-color: #242323;
    display: flex;
    justify-content: center;
    height: 60vh;
}

#footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d8d1d1;
    text-align: center;
}

.fa {
    width: 50px;
    text-align: center;
    text-decoration: none;
    padding: 20px
}
  
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    background-color: #fff;
    color: #242323;
    border-radius: 5px;
}
  
  /* Set a specific color for each brand */
  
.fa-facebook, .fa-twitter, .fa-instagram, .fa-github {
    color: white;
}

/* media */

@media (max-width: 740px) {
    /* nav-bar styles*/
    .nav-container {
        height: unset;
    }
    .nav-container .container {
        display: block;
    }

    .container #logo {
        font-size: 2em;
    }

    .container #logo, .container h1 {
        display: inline-flex;
    }


    .container h1 {
        font-size: 26px;
        margin-bottom: 1em;
        vertical-align: middle;
        margin-left: 4em;
    }

    .links ul {
        justify-content: space-between;
    } 

    ul li a {
        font-size: 16px;
    }
    /* nav-bar styles*/

    /* header home styles*/
    #header-container {
        height: unset;
    }

    #header-container .container {
        flex-direction: column-reverse;
    }

    .container .content-first {
        text-align: center;
        padding: 1em;
    }

    .content-first h2 {
        font-size: 22px;
    }

    .content-first p {
        font-size: 16px;
    }
    /* header home styles*/

    /* menu item styles*/
    #menu-container .container h3{
        font-size: 22px;
    }

    #menu-container .container p {
        font-size: 15px;
    }

    .container .item span {
        font-size: 1.5em;
    }

    .item h3 {
        font-size: 1em;
    }

    #footer {
        font-size: 13px;
    }
    /* menu item styles*/
}

@media (max-width: 450px) {
    .nav-container .container {
        display: flex;
        flex-direction: column;
    }

    .container h1 {
        margin: 0;
        font-size: 20px;
        text-align: center;
        order: -1;
    }


    .links ul {
        flex-direction: column;
        text-align: center;
    }


}
/* media */

/* footer section completed*/
  


